h1{
    color: deepskyblue;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

/* id selector */
#idselector{
    color: greenyellow;
    text-transform: capitalize;
    font-size: 20px;
    line-height: 25px;
    word-spacing: 15px;
    text-indent: 10px;
    background-color: black;
}

/* class selector */
.classselector{
    color: aquamarine;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 15px;
    word-spacing: 10px;
    text-indent: 10px;
    background-color: grey;
}

.pclass{
    color: purple;
    font-family: 'Times New Roman', Times, serif;
    line-height: 25px;
    word-spacing: 10px;
    text-indent: 10px;
    background-color: powderblue;
}

/* desc selector */
#desc a{
    color: greenyellow;
    background-color: black;
    text-indent: 10px;
}

/* child selector */
.child > a{
    color: powderblue;
    background-color: black;
    text-indent: 10px;
}

/* psoudo  */
/* a:link{
    text-decoration: none;
    letter-spacing: 1px;
}

a:hover{
    color: red;
}

a:active{
    color: black;
}

a:visited{
    color: aqua;
} */

/* terget */

p:target{
    color: rgb(pink, grey, powderblue);
    font-size: 15px;
    text-transform: uppercase;
}

div:target{
    color: blue;
    text-transform: lowercase;
}

/* border */
body{
    background-color: gray;
}
.border1{
    border: 10px solid yellow;
}
.border2{
    border-bottom: 20px solid blue;
}
.border3{
    /* border-style: dotted; */
    /* all */
    /* border-style: dotted solid; */
    /* T&B / L&R */
    border-style: solid dotted double;
    /* T / L&R / B */
    /* border-style: solid dashed double dotted; */
    /* T / R / B / L */
}
.border4{
    border-style: solid;
    border-width: 30px 50px 80px;
    border-color: red blue green yellow;
}

/* Margin */
*{
    margin: 0px;
    padding: 0px;
}

.marging1{
    margin: 50px 100px;
    border: 10px solid aqua;
}
.marging2{
    margin: 50px 100px;
    border: 10px solid aqua;
}


/* Padding */
.padding1{
    /* padding: 10px 200px; */
    border: 5px solid aqua;
    padding-top: 250px;
}

/* Layout */
.inline{
    border: 5px solid aqua;
    width: 300px;
    display: inline-block;
}

.block{
    border: 5px solid yellow;
    width: 300px;
    display: inline-block;
}

/* Float */
.floatleft img{
    width: 30%;
    border: 2px solid yellow;
    float: left;
}

.clear{
    clear: both;
}

.floatright img{
    width: 30%;
    border: 2px solid aqua;
    float: right;
}

/* Grid */
.grid1 div,.grid2 div,.grid3 div,.grid4 div,.grid5{
    padding: 30px;
    color: white;
    text-align: center;
}
.gird1,.grid2,.gird3,.grid4,.gird5{
    display: grid;
    grid-template-columns: auto auto auto;
}
.gird2{
    grid-column-gap: 40px;
}
.gird3{
    grid-row-gap: 50px;
}
.grid4{
    grid-gap: 40px;
    /* grid-column-gap: 40px; */
    /* grid-row-gap: 60px; */
}

/* position */
.position_relative_parents{
    border: 2px solid blue;
    width: 1000px;
    height: 500px;
}