@font-face {
    font-family: "Karla";
    src: url(../fonts/Karla/Karla/Karla-VariableFont_wght.ttf);
}
*{
    /* margin: 0px;
    padding: 0px; */
    font-family: "Karla";
}
.nav_logo{
    width: 180px;
    height: 150px;
    margin-left: 30px;
}
.nav_item{
    float: right;
}
.nav_item li{
    display: inline-block;
    margin-top: 60px;
    margin-right: 50px;
    font-size: 20px;
}
.nav_item li a{
    text-decoration: none;
}
.a_item{
    color: #0a174e;
    text-decoration: none;
    transition: color 0.3s ease;
}
.a_item:hover{
    color: #a84f22;
}
.quick_order{
    background-color: #a84f22;
    color: #d7d7d7;
    border: 1px solid #a84f22;
    border-radius: 25px;
    padding: 10px 20px;
    transition: color 0.5s ease;
}
.quick_order:hover{
    background-color: #ffffff;
    color: #a84f22;
}