@font-face {
    font-family: "Karla";
    src: url(../fonts/Karla/Karla/Karla-VariableFont_wght.ttf);
}
*{
    margin: 0px;
    padding: 0px;
    font-family: "Karla";
}

/* start nav */
.nav{
    background-color: #ffb590;
    height: 130px;
}
.nav_logo{
    width: 200px;
    height: 180px;
    margin-left: 30px;
    margin-top: -10px;
}
.nav_item{
    float: right;
}
.nav_item li{
    display: inline-block;
    margin-top: 60px;
    margin-right: 50px;
    font-size: 20px;
}
.nav_item li a{
    text-decoration: none;
}
.a_item{
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}
.a_item:hover{
    color: #a84f22;
}
.quick_order{
    background-color: #a84f22;
    color: #ffffff;
    border: 1px solid #a84f22;
    border-radius: 25px;
    padding: 10px 20px;
    transition: color 0.5s ease;
}
.quick_order:hover{
    background-color: #ffffff;
    color: #a84f22;
}
/* end nav */

/* start bunner */
.bunner_photo{
    width: 100%;
    height: -30%;
}
.bunner{
    position: relative;
}
.bunner_text{
    position: absolute;
    top: 20%;
    left: 23%;
    color: #a84f22;
    text-align: center;
}
.bunner h2{
    font-size: 45px;
    margin-bottom: 30px;
}
.bunner h1{
    font-size: 50px;
}
.bunner_p1{
    font-size: 25px;
}
.bunner_p2{
    color: #ffffff;
    font-size: 20px;
    margin-top: 40px;
}
.order_now{
    text-decoration: none;
    background-color: #ffffff;
    color: #a84f22;
    border: 1px solid #a84f22;
    border-radius: 25px;
    padding: 10px 20px;
    margin-top: 25px;
    display: inline-block;
    transition: color 0.5s ease;
}
.order_now:hover{
    background-color: #a84f22;
    color: #ffffff;
}
/* end bunner */

/* start menu list*/
.menu{
    width: 80%;
    margin: auto;
    margin-top: 80px;
    color: #0a174e;
}
.menu small{
    font-size: 15px;
    color: #0a174e;
}
.menu_card{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 30px;
    grid-gap: 30px;
}
.menu_card img{
    width: 100%;
    height: 350px;
}
.menu_images{
    padding: 5px;
    border: 1px solid #a84f22;
    border-radius: 5px;
    text-align: center;
}
.menu_images h4{
    margin-top: 10px;
    margin-bottom: 10px;
}
.menu_images p{
    margin-bottom: 15px;
}
.menu_button{
    background-color: #ffffff;
    color: #a84f22;
    border: 1px solid #a84f22;
    border-radius: 25px;
    padding: 10px 20px;
    margin-bottom: 10px;
    transition: color 0.5s ease;
}
.menu_button:hover{
    background-color: #a84f22;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 25px;
}
.menu_card img:hover{
    transform: scale(1.2);
    transition-duration: .8s;
}
.menu_hover{
    overflow: hidden;
    border-radius: 5px;
}
/* end menu list */

/* start service */
.service{
    width: auto;
    margin: auto;
    margin-top: 80px;
    align-items: center;
    justify-content: center;
}
.service_images{
    float: right;
    height: 60%;
    margin-right: 20px;
    margin: 15px;
}
.service_h3{
    width: 80%;
    margin: auto;
    margin-top: 90px;
    margin-left: 130px;
    font-size: 20px;
    color: #0a174e;
}
.service h1{
    width: 80%;
    margin: auto;
    margin-top: 25px;
    font-size: 50px;
    margin-left: 130px;
    color: #0a174e;
}
.service p{
    width: 80%;
    margin: auto;
    margin-top: 15px;
    margin-left: 130px;
    color: #0a174e;
}
.service_p{
    width: 80%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px !important;
    margin-left: 130px;
    font-size: 11px;
    color: #0a174e;
}
.join_today{
    width: 6%;
    margin: auto;
    margin-top: 10px;
    margin-left: 130px;
    background-color: #f09162;
    color: #0a174e;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition-duration: color 0,3s ease;
}
.join_today:hover{
    background-color: #a84f22;
    color: #0a174e;
    padding: 10px 20px;
}
.clear{
    clear: both;
}
/* end service */

/* start review */
.review{
    width: 80%;
    margin: auto;
    margin-top: 300px;
}
.review h1{
    text-align: center;
    margin-bottom: 30px;
}
.review > p{
    text-align: left;
    margin-bottom: 50px;
}
.customer_name{
    margin-bottom: 20px;
}
.customer_txt{
    margin-top: 60px;
}
.customer_review{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 40px;
}
.customer_review img{
    width: 30%;
    float: left;
    border-radius: 100px;
    margin-top: 5px;
    margin-right: 20px;
}
.customer_review div{
    background-color: #f09162;
    color: #0a174e;
    padding: 40px;
    /* border: 1px solid #d7d7d7; */
    border-radius: 10px;
}
.star_rating{
    color: #ffe600;
    margin: 5px 0px;
}
/* end service */

/* start footer */
#footer{
    background-color: #3e2723;
    color: #ffffff;
    padding: 50px;
    margin-top: 50px;
}
.footer_container{
    display: grid;
    grid-template-columns: 400px 170px auto auto;
}
.footer_container img{
    width: 100%;
}
.footer_link{
    display: block;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 5px;
} 
.footer_link:hover{
    color: #a84f22;
    transition: color 0.3s ease;
}
.footer_container div h2{
    margin-bottom: 20px;
}
.footer_container div p{
    margin-bottom: 10px;
}
.footer_down{
    margin-top: 130px;
}
.footer_p{
    margin-top: 20px;
    margin-left: 80px;
}
.footer_contact{
    margin-bottom: 10px;
}
.footer_social{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer_icon{
    display: flex;
    gap: 12px;
}
.footer_pay{
    display: flex;
    gap: 12px; 
    align-items: center;
}
.footer_pay img{
    width: 140px; 
    height: auto;
}
 /* start menu */
.menu_total{
    width: 80%;
    margin: auto;
    margin-top: 80px;
    color: #0a174e;
    text-align: center;
}
.container_h1{
    margin-bottom: 10px;
}
.menu_total p{
    margin-bottom: 20px;
}
.menu_container{
    display: grid;
    grid-template-columns: 363px 363px 363px;
    gap: 40px;
}
.menu_img_container h4{
    margin-top: 15px;
    margin-bottom: 15px;
}
.menu_container img{
    width: 100%;
    height: 350px;
}
.menu_img_container{
    border: 1px solid #a84f22;
    border-radius: 5px;
    padding: 13px;
    margin-bottom: 30px;
}
.menu_order{
    text-decoration: none;
    background-color: #ffffff;
    color: #a84f22;
    border: 1px solid #a84f22;
    border-radius: 25px;
    padding: 8px 16px;
    margin-bottom: 20px;
    transition: color 0.5s ease;
}
.menu_order:hover{
    background-color: #a84f22;
    color: #ffffff;
}
.menu_container img:hover{
    transform: scale(1.2);
    transition-duration: .8s;
}
.menu_photo{
    overflow: hidden;
    border-radius: 5px;
}
/* end menu */

/* start chef */
.about_chef{
    width: 100%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about_chef img{
    border-radius: 5px;
}
.chef_image{
    float: left;
    margin-right: 30px;
    margin-left: 20px;
}
.chef_text{
    margin: 0;
    padding: 0;
}
.chef_text h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 35px;
    margin-left: 30px;
    color: #0a174e;
}
.chef_text p{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-left: 30px;
    color: #0a174e;
    line-height: 30px;
}
/* end chef */

/* start service */
.title{
    width: 80%;
    margin: auto;
    margin-top: 150px;
}
.title_txt h4{
    text-align: center;
    color: #0a174e;
    margin-bottom: 10px;
}
.title_txt p{
    text-align: center;
    color: #0a174e;
}
/* end service */

/* start about  */
.about{
    width: 100%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about_img{
    float: left;
    margin-left: 20px;
    margin-top: 50px;
}
.about_image{
    width: 600px;
    height: 400px;
}
.about_container{
    margin: 0;
    padding: 0;
}
.about_h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 35px;
    margin-left: 50px;
    color: #0a174e;
}
.about_p{
    text-align: center;
    margin-left: 50px;
    margin-right: 20px;
    color: #0a174e;
    line-height: 30px;
}
/* end about */

/* start contact */
.contact{
    width: 50%;
    margin: auto;
}
.contact h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #0a174e;
}
.contact_label{
    margin-left: 150px;
}
input[type=text],input[type=number],input[type=email]{
    width: 50%;
    height: 40px;
    margin-bottom: 30px;
    margin-top: 3px;
    margin-left: 150px;
    outline: none;
    color: #0a174e;
}
.contact_message{
    width: 50%;
    height: 40px;
    margin-bottom: 20px;
    margin-top: 3px;
    margin-left: 150px;
    padding-bottom: 50px;
    outline: none;
}
input[type="text"]:focus,input[type="number"]:focus,input[type="email"]:focus{
    border: 2px, solid #f09162;
    border-radius: 3px;
}
.contact_message:focus{
    border: 2px solid #f09162;
    border-radius: 3px;
}
.contact button{
    margin-left: 250px;
}
.button{
    background-color: #ffffff;
    color: #a84f22;
    border: 1px solid #a84f22;
    border-radius: 25px;
    padding: 10px 25px;
    margin-bottom: 10px;
    transition: color 0.5s ease;
}
.button:hover{
    background-color: #a84f22;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 25px;
}
.contact_map{
    width: auto;
    margin: auto;
    margin-top: 50px;
}
/* end contact */